@import url('https://fonts.googleapis.com/css2?family=Anta&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
/* Importa as fontes 'Anta' e 'Exo 2' do Google Fonts */

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;

    --fonte-primaria: "Anta", sans-serif;
    --fonte-secundaria: "Exo 2", sans-serif;
}
/* Define variáveis CSS para cores e fontes, facilitando a manutenção e alterações futuras */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Remove margens e preenchimentos padrão e define box-sizing para incluir bordas e preenchimentos no tamanho total dos elementos */

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
/* Define a cor de fundo e a cor do texto do corpo do documento */

.cabecalho {
    padding: 2% 0% 0% 10%;
}
/* Adiciona preenchimento ao cabeçalho para espaçamento */

.cabecalho__menu {
    display: flex;
    gap: 45px;
}
/* Define um layout flexível para o menu do cabeçalho e adiciona espaço entre os itens */

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}
/* Estiliza os links do menu do cabeçalho com fonte, tamanho, peso e cor específicos */

.apresentacao {
    padding: 8% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
/* Define um layout flexível para a seção de apresentação, com espaçamento, alinhamento e centralização */

.apresentacao__conteudo {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
/* Define a largura e o layout flexível em coluna para o conteúdo da apresentação, com espaçamento entre os itens */

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}
/* Estiliza o título do conteúdo da apresentação com tamanho de fonte e família de fonte específicos */

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}
/* Estiliza o texto do conteúdo da apresentação com tamanho de fonte e família de fonte específicos */

.apresentacao__conteudo__subtitulo {
    font-family: var(--fonte-secundaria);
}
/* Define a família de fonte para o subtítulo do conteúdo da apresentação */

.rodape {
    padding: 13px;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    margin-top: 15em;
}
/* Estiliza o rodapé com preenchimento, cores de fundo e texto, alinhamento centralizado, fonte específica e margem superior */