@import url('https://fonts.googleapis.com/css2?family=Anta&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;

    --fonte-primaria: "Anta", sans-serif;
    --fonte-secundaria: "Exo 2", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 10%;
}

.cabecalho__menu {
    display: flex;
    gap: 45px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 8% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.meunome {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__subtitulo {
    font-family: var(--fonte-secundaria);
}

.icons a {
    display: inline-flex;
    width: 75px;
    height: 75px;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    margin: 47px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 1.87rem;
    text-align: center;
}

.icons a:hover {
    background: #51f0ad;
}

.icons a i {
    transition: 00.4s all;
}

.icons a:hover > i {
    transform: scale(1.6) rotate(25deg);
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    padding: 10px;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
}

@media (max-width: 1050px) {
    .cabecalho {
        padding: 10%;
    }
    
    .cabecalho__menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
    }
}